.frame {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #3F4E4F;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #F9F2E2;
  opacity: 0.9;
}

.main {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;

  .content {
    position: relative;
    flex: 1;
    font-size: 0.9em;
    background: #F9F2E2;
    min-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .sidebar {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 0 10px;
    top: 0;
    z-index: 4;
    height: 52px;
    font-size: 0.85em;
    background: #F9F2E2;
    background: linear-gradient(to bottom, #F9F2E2, 90%, transparent);
    transition: all ease-in-out 220ms, border ease-in-out 500ms;
    -webkit-app-region: drag;
    width: calc(100% - 20px);

    .iconHolder {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      min-width: 36px;
      border-radius: 8px;
      transition: all ease-in-out 120ms;
      -webkit-app-region: none;
      background: transparent;

      &:last-child {
        margin-right: 0px;
      }

      .homeIcon,
      .settingsIcon {
        color: #3F4E4F;
        height: 19px;
        width: 19px;
        transition: all ease-in-out 220ms;
        transition-delay: 40ms;
        opacity: 0.5;
      }

      &.active {
        background: #E5D9B6;
      }

      &:hover {
        cursor: pointer;
        background: #E5D9B6;
        color: #3F4E4F;

        .homeIcon,
        .settingsIcon {
          opacity: 1;
        }
      }

      &:active {
        background: #E5D9B6;
      }
    }
  
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      min-width: 36px;
      margin-left: 80px;
      border-radius: 8px;
      transition: all ease-in-out 120ms;
      -webkit-app-region: none;
      background: transparent;
      flex-shrink: 0;
      .search {
        display: flex;
        margin-left: 12px;
        border-radius: 22px;
        width: 220px;
        align-items: center;
        -webkit-app-region: none;
        background: #F9F2E2;
        padding: 0 8px;
        transition: all ease-in-out 220ms;

        .icon {
          color: #3F4E4F;
          margin-right: 4px;
          opacity: 0.7;
        }

        input {
          display: block;
          border: none;
          outline: none;
          box-shadow: none;
          background: transparent;
          width: 100%;
          height: calc(52px - 18px);
          opacity: 0.75;
          color: #3F4E4F;
        }
      }
    }
  
    .right {
      display: flex;
      align-items: center;
      padding: 0 0px;
      height: 52px;
      transition: all ease-in-out 220ms;
      transition-delay: 1s;
      -webkit-app-region: no-drag;

      .iconHolder {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;
        min-width: 36px;
        border-radius: 8px;
        transition: all ease-in-out 120ms;
        -webkit-app-region: none;
        background: transparent;

        &:last-child {
          margin-right: 0px;
        }

        .homeIcon,
        .settingsIcon {
          color: #3F4E4F;
          height: 19px;
          width: 19px;
          transition: all ease-in-out 220ms;
          transition-delay: 40ms;
          opacity: 0.5;
        }

        &.active {
          background: #E5D9B6;
          color: #3F4E4F;
        }

        &:hover {
          cursor: pointer;
          background: #E5D9B6;
          color: #3F4E4F;

          .homeIcon,
          .settingsIcon {
            opacity: 1;
          }
        }

        &:active {
          background: #E5D9B6;
        }
      }

      .memo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
      }
    }
  }

  .top {
    display: none;
  }

  .mac,
  .win {
    .nav {
      padding-right: 10px;
    }
  }
}